{% extends 'base.html' %}


{% block content %}
{% if error %}
        <p>{{ error }}</p>
    {% endif %}

<div class="card border-white">
    <div class="card-title">
        <h1> Crud</h1>
     </div>
    <div class="card-body">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Columna 01</th>
            <th scope="col">Columna 02</th>
            <th scope="col">Columna 03</th>
            <th scope="col">Columna 04</th>
            <th scope="col">Columna 05</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td>
              <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Editar</button>
                <button class="btn btn-danger" type="button">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>



{% endblock %}