{% extends 'base.html' %}

{% block content %}
{% if error %}
<p>{{ error }}</p>
{% endif %}

<!-- tarjeta de datos ingresados anteriormente -->
<div class="card border-white">
  <div class="card-body">
    Datos ingresados en el formulario
  </div>
</div>
<br>

<!-- tarjeta edicion -->
<div class="card border-white">
  <div class="card-title">
    <h1>Costos {{datos.id}} </h1>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <input type="text" id="origen" name="origen" class="form-control" placeholder="Origen" aria-label="Origen">
      </div>
      <div class="col">
        <input type="number" id="pago" name="pago" class="form-control" placeholder="Pago" aria-label="Pago">
      </div>
    </div>
    <br>
    <div class="row">

      <div class="col">
        <input type="number" id="Pago_proveedor" name="Pago_proveedor" class="form-control" placeholder="Pago Proveedor"
          aria-label="Pago Proveedor">
      </div>

      <div class="col">
        <input type="number" id="ct" name="ct" class="form-control" placeholder="N° C.T." aria-label="N° C.T.">
      </div>

    </div>
  </div>
</div>

<!-- crud materiales -->
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4 border-white">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Materiales</h6>
            </div>
          </div>

          <br>
          <form name="material" id="material" method="POST">
            <div class="row" id="f1">
              <input type="hidden" id="cotizacion" name="cotizacion" value="{{datos.id}}">
              <div class="col">
                <input type="text" id="proveedor" name="proveedor" class="form-control" placeholder="Proveedor"
                  aria-label="Proveedor" required>
              </div>
              <div class="col">
                <input type="text" id="factura" name="factura" class="form-control" placeholder="Factura"
                  aria-label="Factura" required>
              </div>
              <div class="col">
                <input type="text" id="glosa" name="glosa" class="form-control" placeholder="Glosa" aria-label="Glosa"
                  required>
              </div>
              <div class="col">
                <input type="number" id="valor" name="valor" class="form-control" min="0" placeholder="Valor Neto"
                  aria-label="Valor Neto" required>
              </div>

              <div class="col">
                <button type="submit" class="btn bg-gradient-info w-100">Agregar</button>
              </div>

            </div>
          </form>
          <br>
          <div class="card-body px-0 pb-2" id="div_materiales" name="div_materiales">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Proveedor</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Factura</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Glosa</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Valor Neto</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">IVA</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Valor Total</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for material in materiales %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{material.proveedor}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{material.factura}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{material.glosa}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">$ {{material.valor_neto}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{material.valor_neto * 0.19| float}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{material.valor_neto * 1.19 |float}}</h6>
                        </div>
                      </div>
                    </td>
                    <td><button class="btn btn-info w-100" data-toggle="modal" ata-target="#changeRequestModal">Editar</button></td>
                    <td><button class="btn btn-danger w-100" data-toggle="modal" ata-target="#changeRequestModal">Eliminar</button></td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="text-center card-body pt-4 p-3 bg-gray-100">
              <div class="row align-items-start" id="c1">
                <div class="col">
                  <h5>Suma Valor Neto $ {{valor}}</h5>
                </div>
                <div class="col">
                  <h5>Suma IVA $ {{valor * 0.19}}</h5>
                </div>
                <div class="col">
                  <h5>Suma Valor Total $ {{valor * 1.19}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- crud mano de obra -->
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4 border-white">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Mano de Obra</h6>
            </div>
          </div>

          <br>
          <form name="mano_obra" id="mano_obra" method="POST">
            <div class="row"  id="f2">
              <input type="hidden" id="cotizacion" name="cotizacion" value="{{datos.id}}">
              <div class="col">
                <input type="number" id="cantidad" name="cantidad" class="form-control" min="1" placeholder="Cantidad" aria-label="cantidad" required>
              </div>
              <div class="col">
                <input type="number" id="valor" name="valor" class="form-control" min="1" placeholder="Precio" aria-label="precio" required>
              </div>
              <div class="col">
                <input type="number" id="dias" name="dias" min="1" class="form-control" placeholder="Días" aria-label="días" required>
              </div>
              
              <div class="col">
                <button type="submit" class="btn bg-gradient-info w-100">Agregar</button>
              </div>
            </div>
          </form>
          <br>
          <div class="card-body px-0 pb-2" name="div_mano_obra" id="div_mano_obra">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Cantidad</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Precio</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Días</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Total Neto</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for mano_obra in manos_obra%}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{mano_obra.cantidad}} </h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{mano_obra.precio}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{mano_obra.dias}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{mano_obra.valor_neto}}</h6>
                        </div>
                      </div>
                    </td>
                    <td><button class="btn btn-info w-100" data-toggle="modal" ata-target="#changeRequestModal">Editar</button></td>
                    <td><button class="btn btn-danger w-100" data-toggle="modal" ata-target="#changeRequestModal">Eliminar</button></td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="card-body pt-4 p-3 bg-gray-100">
              <h1 id="c1">Total Neto $ {{valor_obra}}</h1>
            </div>


          </div>
        </div>
      </div>
    </div>
</div>

<!-- tarjeta costos -->
<div class="row">
  <div class="col-md-6 mt-4">
    <div class="card h-100 mb-4 border-white">
      <div class="card-title pb-0 px-3">
        <div class="row">
          <div class="col-md-6">
            <h6 class="mb-0">Costo Total Neto:</h6>
          </div>
        </div>
      </div>
      <div class="card-body pt-4 p-3">
        <h1 id="c1">$ {{valor_obra+valor }}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-4">
    <div class="card h-100 mb-4 border-white">
      <div class="card-title pb-0 px-3">
        <div class="row">
          <div class="col-md-6">
            <h6 class="mb-0">Costo Total Bruto</h6>
          </div>
        </div>
      </div>
      <div class="card-body pt-4 p-3">
        <h1 id="c1">$ {{valor_obra+valor*1.19 }}</h1>
      </div>
    </div>
  </div>
</div>

<br>
<button type="submit" class="btn bg-gradient-info w-100">Guardar</button>


<script src="{{ url_for('static', filename='js/otro.js')}}"></script>

{% endblock %}