<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <style>
    body {
      margin: 25px;
    }
  </style>
  <body>


  <div class="card">
    <div class="card-header">
      <h1>Edición Cliente Rut°{{datos_cliente.rut}} - {{datos_cliente.dv}}</h1>
    </div>
    <div class="card-body">
      <form id="update_cliente" name="update_cliente" method="POST">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Nombre</label>
          <input type="text" id="nombre" name="nombre" class="form-control" min="1" placeholder="Nombre Cliente" aria-label="nombre" value="{{datos_cliente.nombre}}" required>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Rut</label>
          <input type="number" id="rut" name="rut" class="form-control" min="1" placeholder="Rut" aria-label="rut" value="{{datos_cliente.rut}}" required>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Dv</label>
          <input type="text" id="dv" name="dv" class="form-control" min="1" placeholder="Dv" aria-label="dv" value="{{datos_cliente.dv}}" required>
        </div>

        <input type="hidden" name="id_cliente" id="id_cliente" value="{{datos_cliente.id}}">
      <button type="submit" class="btn btn-primary">Guardar</button>      
    </form>
  </div>
  </div>





</body>
</html>
<script src="{{ url_for('static', filename='js/otro.js')}}"></script>
