{% extends 'base.html' %}
{% block content %}

<div class="card border-white">
  <div class="card-title">
    <a class="btn btn-primary" href="ingreso_gasto" role="button">Ingreso de Gasto</a>
  </div>
  <div class="container-fluid">
    <form class="d-flex justify-content-end" role="search">
      <div class="row g-3">
        <div class="row g-3">
        <div class="col-sm-7">
          <input type="text"  class="form-control" id="inputBusqueda" placeholder="Buscar..." oninput="buscarEnTabla()">
        </div>
        <div class="col-sm">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </div>
      </div>
    </div>

    </form>
  </div>
  <div class="card-body">

      <div class="card-body">
          <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Tipo de Gasto</th>
                  <th>Descripción</th>
                  <th>Empleado</th>
                  <th>Monto</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for dato in gastos %}
                <tr>
                  <th scope="row">{{dato.fecha_rendicion}}</th>
                  <th scope="row">{{dato.tipo_gasto}}</th>
                  <th scope="row">{{dato.descripcion}}</th>
                  <th scope="row">{{dato.empleado}}</th>
                  <th scope="row">{{dato.monto_gasto}}</th>
                  <th style="width: 50px;"><a href="edita_gasto?id={{dato.id}}"  class="btn btn-info w-100 " > <span class="iconify" data-icon="bx:edit" style="color: black; text-decoration: none; " data-width=" 26" data-height="26"></span>&nbsp; Editar</a></th>
                  <th style="width: 50px;"><button onClick="delete_cotizacion()"  class="btn btn-danger w-100 " > <span class="iconify" style="color: black; " data-width=" 26" data-height="26"></span>&nbsp; Eliminar</button></th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
  </div>    
  </div>
</div>


    







  <script src="{{ url_for('static', filename='js/otro.js')}}"></script>


{% endblock %}