{% extends 'base.html' %}
{% block content %}

<div class="card border-white">
  <div class="card-title">
    <a class="btn btn-primary" href="ingreso_gasto" role="button">Ingreso de Gasto</a>
  </div>
  <div class="container-fluid">
    <form class="d-flex justify-content-end" role="search">
      <div class="row g-3">
        <div class="row g-3">
        <div class="col-sm-7">
          <input type="text"  class="form-control" id="inputBusqueda" placeholder="Buscar..." oninput="buscarEnTabla()">
        </div>
        <div class="col-sm">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </div>
      </div>
    </div>

    </form>
  </div>
  <div class="card-body">

      <div class="card-body">
          <table id="rendicion" name="rendicion" class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Tipo de Gasto</th>
                  <th>Descripción</th>
                  <th>Empleado</th>
                  <th>Monto</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for dato in gastos %}
                <tr>
                  <th scope="row">{{dato.fecha_rendicion}}</th>
                  <th scope="row">{{dato.tipo_gasto}}</th>
                  <th scope="row">{{dato.descripcion}}</th>
                  <th scope="row">{{dato.nombre}} {{dato.apellido}}</th>
                  <th scope="row">{{dato.monto_gasto}}</th>
                  <td style="width: 50px;"><button class="btn btn-info w-100"><a href="javascript:ediciones('edita_gasto?id={{dato.id}}')"  style="color: black; text-decoration: none;">Editar</a></button></td>
                  <th style="width: 50px;"><button onClick="delete_rendicion({{dato.id}})"  class="btn btn-danger w-100 " > <span class="iconify" style="color: black; " data-width=" 26" data-height="26"></span>&nbsp; Eliminar</button></th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
  </div>    
  </div>
</div>

<script src="{{ url_for('static', filename='js/otro.js')}}"></script>

<script>
  function ediciones(URL) {
    var ventana = window.open(URL, "ventana1", "width=850,height=650,scrollbars=auto");
    // Define una función que se ejecutará cuando la ventana se cierre
    ventana.onunload = function() {
      // Carga los elementos en la página emisora cuando la ventana se cierre
      $("#rendicion").load(window.location.href + " #rendicion");
    };
  }
  </script>

{% endblock %}