{% extends 'base.html' %}


{% block content %}
{% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
<div class="card border-white">
  <div class="card-title">
    <h1>Formulario de Cotización</h1>
  </div>
  <div class="card-body">
  <form action="{{ url_for('main.assign_equipment_route') }}" method="POST">
    <div class="row">
      <div class="col">
        <input type="text" id="cliente" name="cliente" class="form-control" placeholder="Cliente" aria-label="Clientee">
      </div>
      <div class="col">
        <input type="text"  id="rut" name="rut" class="form-control" placeholder="Rut" aria-label="Rut">
      </div>
      <div class="col-1">
        <input type="text"  id="rut" name="rut" class="form-control" placeholder="Dv" aria-label="Dv">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <input type="date"  id="fecha" name="fecha" class="form-control" placeholder="Mes" aria-label="Mes">
      </div>
      <div class="col">
        <input type="text" id="tipo" name="tipo" class="form-control" placeholder="Tipo" aria-label="Tipo">
      </div>
    </div>
    <br>
    <textarea placeholder="Detalle" id="detalle" name="detalle" class="form-control" rows="3"></textarea>
    <br>
      <button type="submit" class="btn bg-gradient-info w-100">Guardar</button>
    </form>
    </div>
</div>
{% endblock %}