{% extends 'base.html' %}


{% block content %}
{% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
<div class="card border-white">
  <div class="card-title">
    <h1>Formulario de Cotización</h1>
  </div>
  <div class="card-body">
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Cliente" aria-label="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Rut" aria-label="Last name">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Mes" aria-label="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Tipo" aria-label="Last name">
      </div>
    </div>
    <br>
    <textarea placeholder="Detalle" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <br>
      <button type="submit" class="btn bg-gradient-info w-100">Guardar</button>
    </form>
    </div>
  </div>
{% endblock %}