{% extends 'base.html' %}
{% block content %}
<div class="card border-white">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-warning shadow-warning border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Inventario</h6>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <div class="card-title">
            <a class="btn btn-primary" href="agrega_inventarios" role="button">Agregar</a>
        </div>
        <div class="container-fluid">
            <form class="d-flex justify-content-end" role="search">
                <div class="row g-3">
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputBusqueda" placeholder="Buscar..."
                            oninput="buscarEnTabla()">
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    

    <div class="card-body">
        <table id="inventario" name="inventario" class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Valor unitario</th>
                    <th>Cantidad</th>
                    <th>Valor Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dato in inventario %}
                <tr>
                    <td>{{dato.nombre}}</td>
                    <td>{{dato.descripcion}}</td>
                    <td>{{dato.valor_unitario}}</td>
                    <td>{{dato.cantidad}}</td>
                    <td>{{dato.valor_total}}</td>
                    <td>
                        <td style="width: 50px;"><button class="btn btn-info w-100"><a href="javascript:ediciones('edita_inventario?id={{dato.id}}')"  style="color: black; text-decoration: none;">Editar</a></button></td>
                        <td style="width: 50px;"><button onClick="delete_inventario({{dato.id}})" class="btn btn-danger w-100 "> <span class="iconify" style="color: black; " data-width=" 26" data-height="26"></span>&nbsp; Eliminar</button></td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
//     function buscarEnTabla() {
//         var input, filter, table, tr, td, i, txtValue;
//         input = document.getElementById("inputBusqueda");
//         filter = input.value.toUpperCase();
//         table = document.getElementById("inventario");
//         tr = table.getElementsByTagName("tr");

//         for (i = 0; i < tr.length; i++) {
//             td = tr[i].getElementsByTagName("td")[0]; // Cambia el índice según la columna que deseas filtrar
//             if (td) {
//                 txtValue = td.textContent || td.innerText;
//                 if (txtValue.toUpperCase().indexOf(filter) > -1) {
//                     tr[i].style.display = "";
//                 } else {
//                     tr[i].style.display = "none";
//                 }
//             }
//         }
//     }
// </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script>
    function buscarEnTabla() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("inputBusqueda");
        filter = input.value.toUpperCase();
        table = document.getElementById("inventario");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            var found = false;
          for (j = 1; j < tr[i].cells.length; j++) {
                td = tr[i].cells[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }
            
            if (found) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
<script>
    function ediciones(URL) {
      var ventana = window.open(URL, "ventana1", "width=850,height=650,scrollbars=auto");
      // Define una función que se ejecutará cuando la ventana se cierre
      ventana.onunload = function() {
        // Carga los elementos en la página emisora cuando la ventana se cierre
        $("#inventario").load(window.location.href + " #inventario");
      };
    }
    </script>
<script src="{{ url_for('static', filename='js/otro.js')}}"></script>
{% endblock %}
