{% extends 'base.html' %}
{% block content %}

<div class="card border-white">
    <div class="card-body">
      <h1 style="text-align: center;">Inventario</h1>
    </div>
  </div>
    
<br>
      <div class="card border-white">
        <div class="card-body">


            <form class="row g-3" id="agrega_inventario" method="POST">
                <div class="col-md-6">
                  <label for="fecha_gasto" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-6">
                  <label for="descripcion_gasto" class="form-label">Descripción</label>
                  <input type="text" class="form-control" id="descripcion" name="descripcion">
                </div>
                <div class="col-md-6">
                  <label for="tipo_gasto" class="form-label">Valor unitario</label>
                  <input type="number" class="form-control" id="valor_unitario" name="valor_unitario">
                </div>
                <div class="col-md-6">
                  <label for="tipo_gasto" class="form-label">Cantidad</label>
                  <input type="number" class="form-control" id="cantidad" name="cantidad">
                </div>
                <div class="col-md-12">
                    <label for="agregar_comprobante" class="form-label">Boleta</label>
                    <input type="file" id="archivo" name="archivo">                    
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form>
      </div>
    </div>
    <br>
    <div class="card border-white">
      <div class="container-fluid">
        <form class="d-flex justify-content-end" id="buscador_gastos" role="search">
          <div class="row g-3">
            <div class="row g-3">
              <label for="fecha_fin_busqueda" class="form-label">Buscar Producto</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" aria-label="">
              </div>
              <div class="col-sm">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>    
  <br>
  <div class="card border-white">
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Valor unitario</th>
                <th>Cantidad</th>
                <th>Valor Total</th>
              </tr>
            </thead>
            <tbody>
              {% for dato in inventario %}
              <tr>
                <th scope="row">{{dato.nombre}}</th>
                <th scope="row">{{dato.descripcion}}</th>
                <th scope="row">{{dato.valor_unitario}}</th>
                <th scope="row">{{dato.cantidad}}</th>
                <th scope="row">{{dato.valor_total}}</th>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        ver
                    </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>    


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalle Gasto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card border-white" style="padding-top: 50px; padding-bottom: 50px; margin-left: 25px; margin-right: 25px;">
                <div class="container text-center">
                    <div class="row align-items-start">
                      <div class="col">
                      </div>
                      <div class="col">
                      </div>
                      <div class="col">
                        <img src="{{url_for('static', filename='./img/logo-ct.png')}}" alt="" >
                    </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row align-items-start">
                      <div class="col">
                      </div>
                      <div class="col">
                        <h5>Rendición de Gastos</h5>
                        <p>Mes [indicar mes]</p>
                      </div>
                      <div class="col">
                    </div>
                    </div>
                  </div>
             <br>
            
                  <div class="container text-left">
                    <div>
                        <p>Nombre: [Nombre]
                           <br> Fecha de Rendición: [fecha]</p>
                      </div>
                  </div>
                  <br>
                 
                    <div class="container">
                        <table class="table table-bordered">
                          <tdead>
                            <tr>
                              <th>Fecha</th>
                              <th>Tipo de Gasto</th>
                              <th>Descripción</th>
                              <th>Empleado</th>
                              <th>Monto</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <th colspan="3 border"></th>
                              <th class="table-active">Total:</th>
                              <th class="table-active">$ [suma]</th>
                          </tr>
                          </tbody>
                        </table>
                    </div>
            
                    <br><br><br>
              
            
                    <div class="container text-center">
                        <div class="row align-items-start">
                            <div class="col">
                                <h3>Carolina Lara</h3>
                                <p>V°B° Controller</p>
                            </div>
                            <div class="col">                            
                            </div>
                            <div class="col">
                                Firma Empleado
                            </div>
                        </div>
                    </div>

                      <center>Santiago, [Fecha]</center>
                      
            </div>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Imprimir</button>
            </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

  <script>
    const generarPDF = () => {
      const element = document.querySelector(".card");
      const options = {
        margin: 0,
        filename: "Rendicion_gastos[numero].pdf",
        image: { type: "jpeg", quality: 1 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
      };
  
      html2pdf()
        .from(element)
        .set(options)
        .save();
    };
  
    document.querySelector("#generar-pdf").addEventListener("click", generarPDF);
  
  </script>
<script src="{{ url_for('static', filename='js/otro.js')}}"></script>
{% endblock %}