<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">

</head>
<body>
    
<div class="wrapper fadeInDown">
    <div id="formContent">
        <img src="{{url_for('static', filename='./img/logo-ct.png')}}" alt="">
      <div class="fadeIn first">
        
      </div>
  
      <form method="POST" action="/login">
        <input type="text" id="username" name="username" placeholder="Usuario"required><br>
        <input type="password" id="password" name="password" placeholder="Clave" required><br>

        <input type="submit" value="Iniciar sesión">
    </form>
  
    </div>
  </div>
</body>
</html>