{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-md-12 col-12">
              <div class="card border-white">
                <div class="card-title mx-4 p-3 text-center">
                    <canvas id="chart1"></canvas>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <hr class="horizontal dark my-3">
                  <p>texto</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="row">

          <div class="col-xl-12">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="card border-white">
                  <div class="card-title mx-4 p-3 text-center">
                    <canvas id="chart2"></canvas>
                </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <hr class="horizontal dark my-3">
                    <p>texto</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="card border-white">
                  <div class="card-title mx-4 p-3 text-center">
                    <canvas id="chart3"></canvas>
                </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <hr class="horizontal dark my-3">
                    <p>texto</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">

            <div class="col-xl-12">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="card border-white">
                    <div class="card-title mx-4 p-3 text-center">
                        <canvas id="chart4"></canvas>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <hr class="horizontal dark my-3">
                      <p>texto</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
  
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-md-12 col-12">
                    <div class="card border-white">
                      <div class="card-title mx-4 p-3 text-center">
                        <canvas id="chart5"></canvas>
                    </div>
                      <div class="card-body pt-0 p-3 text-center">
                        <hr class="horizontal dark my-3">
                        <p>texto</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>







        <script>
            // Gráfico 1 - Barras
            var ctx1 = document.getElementById('chart1').getContext('2d');
            var chart1 = new Chart(ctx1, {
              type: 'bar',
              data: {
                labels: ['Dato 1', 'Dato 2', 'Dato 3'],
                datasets: [{
                  label: 'Datos de ejemplo',
                  data: [12, 19, 3],
                  backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'],
                  borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          
            // Gráfico 2 - Pastel
            var ctx2 = document.getElementById('chart2').getContext('2d');
            var chart2 = new Chart(ctx2, {
              type: 'pie',
              data: {
                labels: ['Dato 1', 'Dato 2', 'Dato 3'],
                datasets: [{
                  data: [12, 19, 3],
                  backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'],
                  borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                  borderWidth: 1
                }]
              }
            });
          
            // Gráfico 3 - Línea
            var ctx3 = document.getElementById('chart3').getContext('2d');
            var chart3 = new Chart(ctx3, {
              type: 'line',
              data: {
                labels: ['Dato 1', 'Dato 2', 'Dato 3'],
                datasets: [{
                  label: 'Datos de ejemplo',
                  data: [12, 19, 3],
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 2,
                  fill: false
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          
            // Gráfico 4 - Radar
            var ctx4 = document.getElementById('chart4').getContext('2d');
            var chart4 = new Chart(ctx4, {
              type: 'radar',
              data: {
                labels: ['Dato 1', 'Dato 2', 'Dato 3', 'Dato 4', 'Dato 5'],
                datasets: [{
                  label: 'Datos de ejemplo',
                  data: [12, 19, 3, 5, 2],
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }]
              }
            });
          
            // Gráfico 5 - Burbujas
            var ctx5 = document.getElementById('chart5').getContext('2d');
            var chart5 = new Chart(ctx5, {
              type: 'bubble',
              data: {
                datasets: [{
                  label: 'Datos de ejemplo',
                  data: [{
                    x: 10,
                    y: 20,
                    r: 5
                  }, {
                    x: 30,
                    y: 40,
                    r: 10
                  }, {
                    x: 50,
                    y: 60,
                    r: 8
                  }],
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }]
              }
            });
          </script>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/rrhh.js')}}"></script>

  {% endblock %}