{% extends 'base.html' %}


{% block content %}
{% if error %}
        <p>{{ error }}</p>
    {% endif %}

      <div class="row">
        <div class="col-lg-6">
          <div class="row">

            <div class="col-xl-12">
              <div class="row">
                <div class="col-md-6 col-6">
                  <div class="card border-white">
                    <div class="card-title mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-info shadow text-center border-radius-lg">
                        <i class="material-icons opacity-10">account_balance</i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0">Sueldo</h6>
                      <hr class="horizontal dark my-3">
                      <h5 class="mb-0">$ xxxxxxx</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-6">
                  <div class="card border-white">
                    <div class="card-title mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-info shadow text-center border-radius-lg">
                        <i class="material-icons opacity-10">airplanemode_active</i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0">Saldo de Vacaciones</h6>
                      <hr class="horizontal dark my-3">
                      <h5 class="mb-0">xx Días</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-lg-0 mb-6">
              <div class="card mt-4 border-white">
                <div class="card-title pb-0 p-3">
                  <div class="row">
                    <div class="col-6 d-flex align-items-center">
                      <h6 class="mb-0">Datos Empleado</h6>
                    </div>
                    <!-- <div class="col-6 text-end">
                      <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="material-icons text-sm">add</i>Agregar</a>
                    </div> -->
                  </div>
                </div>
                <div class="card-body p-3">
                  <div class="row">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100 border-white">
            <div class="card-title pb-0 p-3">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Ultimas Liquidaciones</h6>
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-outline-primary btn-sm mb-0">Ver todo</button>
                </div>
              </div>
            </div>
            <div class="card-body p-3 pb-0">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark font-weight-bold text-sm">[Fecha]</h6>
                  </div>
                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="material-icons text-lg position-relative me-1">picture_as_pdf</i> Descargar</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      <div class="row">
        <div class="col-md-7 mt-4">
          
          <div class="card border-white">
            <div class="card-title pb-0 px-3">
              <h6 class="mb-0">Vacaciones</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">Aprobado por: </h6>
                    <span class="mb-2 text-xs">Fecha Inicio: <span class="text-dark font-weight-bold ms-sm-2">dd/mm/aaaa</span></span>
                    <span class="mb-2 text-xs">Fecha Fin: <span class="text-dark font-weight-bold ms-sm-2">dd/mm/aaaa</span></span>
                    <span class="mb-2 text-xs">Cantidad de días habiles: <span class="text-dark ms-sm-2 font-weight-bold">xxx</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">delete</i>Eliminar</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">edit</i>Editar</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5 mt-4">
          <div class="card h-100 mb-4 border-white">
            <div class="card-title pb-0 px-3">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="mb-0">Documentos</h6>
                </div>
              </div>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                      <div class="d-flex flex-column">
                        <h6 class="mb-1 text-dark font-weight-bold text-sm">Nombre Archivo</h6>
                      </div>
                      <div class="d-flex align-items-center text-sm">
                        fecha Emisión
                        <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="material-icons text-lg position-relative me-1">picture_as_pdf</i> Descargar</button>
                      </div>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>

  {% endblock %}