{% extends 'base.html' %}


{% block content %}
{% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <table class="table table-striped" id="gastos_clientes" name="gastos_clientes">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Trabajo</th>
            <th scope="col">Fecha Servicio</th>
            <th scope="col">Material</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <!-- <th scope="col">Tipo</th> -->
            <!-- <th scope="col">Detalle</th> -->
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          {% for dato in gastosclientes %}
          <tr>
            <th scope="row">{{dato.tipo}}</th>
            <th scope="row">{{dato.proveedor}}</th>
            <th scope="row">{{dato.trabajo}}</th>
            <th scope="row">{{dato.fecha_servicio}}</th>
            <th scope="row">{{dato.material}}</th>
            <th scope="row">{{dato.cantidad}}</th>
            <th scope="row">{{dato.total}}</th>
            <!-- <th scope="row">{{dato.tipo}}</th> -->
            <!-- <th scope="row">{{dato.detalle}}</th> -->
            <th style="width: 50px;"><a class="btn btn-warning w-100" href="/ct?id={{dato.id}}" role="button">ver</a></th>
            <th style="width: 50px;"><a href="/edita_servicio"  class="btn btn-info w-100 " > <span class="iconify" data-icon="bx:edit" style="color: black; text-decoration: none; " data-width=" 26" data-height="26"></span>&nbsp; Editar</a></th>
            <th style="width: 50px;"><button onClick="delete_cotizacion({{dato.id}})"  class="btn btn-danger w-100 " > <span class="iconify" style="color: black; " data-width=" 26" data-height="26"></span>&nbsp; Eliminar</button></th>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <div class="row">
        <div class="col-12">
          <div class="card my-4 border-white">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Cotizaciones Confirmadas</h6>
              </div>
            </div>
  
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" name="aprobar_cot" id="aprobar_cot">
                  <thead>
                    <tr>
                      <th scope="col">N° Cotización</th>
                      <th scope="col">Rut Empresa</th>
                      <th scope="col">Empresa</th>
                      <th scope="col">Solicitante</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dato in datos %}
                    <tr>
                      <th scope="row">{{dato.id}}</th>
                      <th scope="row">{{dato.rut_empresa}} - {{dato.dv}}</th>
                      <th scope="row">{{dato.nombre}}</th>
                      <th scope="row">{{dato.solicitante}}</th>
                      <td style="width: 60px;">      
                        <a class="btn btn-warning w-100" href="/ct?id={{dato.id}}" role="button">Ver</a>
                      </td>
                      <td style="width: 60px;">      
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ dato.id }}">
                          Agregar Factura
                        </button>

                    </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

<script src="{{ url_for('static', filename='js/otro.js')}}"></script>
{% endblock %}