{% extends 'base.html' %}



{% block content %}
<h1>Registro</h1>
    <form method="POST" action="/insert_register">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="rol">Rol:</label>
        <input type="number" id="rol" name="rol" required><br>
        <input type="submit" value="Registrarse">
    </form>
{% endblock %}