{% extends 'base.html' %}


{% block content %}

<div class="container">
  <h1 class="mt-4">Subir Documento</h1>

  <form method="POST" enctype="multipart/form-data" class="mt-4">
    <div class="form-group">
      <label for="document">Seleccionar Archivo</label>
      <input type="file" name="document" id="document" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Subir</button>
  </form>

  <a href="{{ url_for('hr.hr_index') }}" class="btn btn-secondary mt-4">Volver</a>
</div>

{% endblock %}
